%h3 Team Level Distribution

/ %table.table
/   %thead
/     %tr
/       %th Levels
/       %th # of Players
/   %tbody
/     - @data.each do |e|
/       %tr
/         %td= e.id
/         %td= e.count
/ %hr

#distribution
:coffeescript
  drawLinearBarchart('#distribution', #{ @chart.to_json })

%p (excludes level 300, which is huge)
%hr

%table.table
  %tr
    %th n
    %td= @data.map(&:count).reduce(:+)
